@page
@model MyContacts.Pages.PhoneBooks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PhoneBook</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneBook.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneBook.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneBook.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneBook.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneBook.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneBook.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneBook.GroupingID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneBook.GroupingID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PhoneBook.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
